*{
  font-family: 'Times New Roman';
  line-height: 1.4;
}

/*.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/

.Top{
  text-align: center;
  padding-bottom: 1.5vw;
}

.bold{
  font-weight: bold;
}

h1{
  font-size: 3vw;
  line-height: 2vw;
}

.article{
  background-color: white;
  margin: 2vw 25vw;
  padding: 3vw 3vw;
  border: 1px solid black ;
  border-radius: 15px;
}

tr{
  text-align: left;
  vertical-align: text-bottom;
  height: 2vw;
  font-size: 1.3vw;
}

td{
  text-indent: 4vw;
  text-align: left;
}

.submit{
  border-radius: 15px;  
  font-family: 'Arial';  
}

.Left{
  margin-top: 2vw;
  text-align: left;
}

.mb{
  margin-bottom: 2vw;
}

.textint{
  width: 15vw;
  height: 1.2vw;
}

.checkbox{
  width: 1vw;
  height: 1vw;
}

.submit{
  width: 4vw;
  height: 2vw;
}